.header{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
}



.html{
    float: left;
    background-color: darkgray;
    margin-left: 30px;
    margin-top: 50px;
    width: 400px;
    height: 195px;
    font-family: monospace;
    font-weight: bold;
    font-size: 15.5px;
    border: black solid;
    padding-left: 10px;
   
   
    
}

.css{
    
    float: left;
    background-color: darkgray;
    margin-left: 20px;
    margin-top: 50px;
    width: 400px;
    height: 195px;
        font-family: monospace;
    font-weight: bold;
    font-size: 15.5px;
     border: black solid;
    padding-left: 10px;
}

.bootstrap {
    float: left;
    background-color: darkgray;
    margin-left: 20px;
    margin-top: 50px; 
    width: 400px;
    height: 195px;
        font-family: monospace;
    font-weight: bold;
    font-size: 15.5px;
     border: black solid;
    padding-left: 10px;
    
}

p {
    text-align: left;
}

h2 {
    
    
    
    text-align: center;
   
    
    background-color: aqua;
    
   
    
    border-left: solid black;
    border-bottom: solid black;
    
   margin-top: 0%;
margin-left: 50%;
    
    
}

@media (min-width:992px)
{
    .html { float: left;margin-left:32px; padding-bottom:30px; width: 26%; }
    
    .css{ float: left;margin-left:28px; padding-bottom:30px; width: 28%; }
    .bootstrap{ float: left;margin-left:28px;margin-right:-20px;  padding-bottom:30px; width: 32%; }
    
    
} 

@media (min-width:768px) and (max-width:991px){
    
 .html { float: left; padding-bottom:30px; width:40%; margin-left:5%  }
    .css { float: left; padding-bottom:30px; width:40%; margin-left:5%}
    .bootstrap { padding-bottom:30px; width:88%;margin-left:30px; }
    
    
    
    
    }


@media only screen and (max-width:767px)
    
{
    .html,.css,.bootstrap{ width:70%;margin-left:15%;margin-right:15%;  }
    
    }
    



